/* .post-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 16px;
  }
   */